@charset "utf-8";

/* 阿里矢量图 */
@import '//at.alicdn.com/t/font_2294717_pdx9shecad.css';

.wrap {
    width:1200px;
    max-width: 1200px;
    min-width: 800px;
}

#content{
    display: flex;
    justify-content: center;
}
@media (max-width:1200px){
    .wrap {
       padding:24p
    }
}